{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>Trash It - Capture and Analyze Trash</title>
    <link rel="icon" type="image/x-icon" href="{% static 'pwa/images/logo.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pwa/css/styles.css' %}" />
  </head>
  <body>
    <div id="logoContainer">
      <img id="logo" src="{% static 'pwa/images/logo.png' %}" alt="Waste It Logo" />
    </div>
    <div id="captureContainer">
      {% csrf_token %}
      <video id="video" autoplay></video>
      <button id="captureButton" class="btn">Take Picture</button>
      <canvas id="capturedCanvas" style="display: none"></canvas>
      <div id="buttonContainer">
        <button id="freezeButton" class="btn" style="display: none">Analyze Picture</button>
        <button id="resetButton" class="btn" style="display: none">Reset Picture</button>
      </div>
      <div id="resultContainer" class="resultContainer"></div>
    </div>

    <script>
      const captureButton = document.getElementById('captureButton');
      const video = document.getElementById('video');
      const freezeButton = document.getElementById('freezeButton');
      const capturedCanvas = document.getElementById('capturedCanvas');
      const capturedContext = capturedCanvas.getContext('2d');
      const resetButton = document.getElementById('resetButton');
      const resultContainer = document.getElementById('resultContainer');

      let stream;

      captureButton.addEventListener('click', async () => {
        try {
          stream = await navigator.mediaDevices.getUserMedia({ video: true });
          video.srcObject = stream;
          freezeButton.style.display = 'block';
          resetButton.style.display = 'block';
          captureButton.style.display = 'none';
        } catch (error) {
          console.error('Error accessing camera:', error);
        }
      });

      freezeButton.addEventListener('click', async () => {
        capturedCanvas.width = video.videoWidth;
        capturedCanvas.height = video.videoHeight;
        capturedContext.drawImage(video, 0, 0, capturedCanvas.width, capturedCanvas.height);

        video.style.display = 'none';
        capturedCanvas.style.display = 'block';
        capturedCanvas.style.width = '100%';

        if (stream) {
          const tracks = stream.getTracks();
          tracks.forEach(track => track.stop());
        }

        const imageData = capturedCanvas.toDataURL('image/jpeg');
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        try {
          const response = await fetch('/analyze_picture/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({ image_data: imageData }),
          });

          const data = await response.json();
          const result = data.result;

          resultContainer.innerHTML = result
            ? 'This item is recyclable!'
            : 'This item is not recyclable.';
          resultContainer.style.border = result ? '3px solid green' : '3px solid red';
        } catch (error) {
          console.error('Error analyzing picture:', error);
        }
      });

      resetButton.addEventListener('click', async () => {
        try {
          video.style.display = 'block';
          capturedCanvas.style.display = 'none';
          resultContainer.innerHTML = '';
          resultContainer.style.border = 'none';
          freezeButton.style.display = 'block';
          resetButton.style.display = 'block';
          captureButton.style.display = 'none';

          stream = await navigator.mediaDevices.getUserMedia({ video: true });
          video.srcObject = stream;
        } catch (error) {
          console.error('Error accessing camera:', error);
        }
      });
    </script>
  </body>
</html>
