{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <title>Trash It - Capture and Analyze Trash</title>
    <link rel="icon" type="image/x-icon" href="{% static 'pwa/images/logo.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pwa/css/styles.css' %}" />
  </head>
  <body>
    <div id="logoContainer">
      <img id="logo" src="{% static 'pwa/images/logo.png' %}" alt="Waste It Logo" />
    </div>
    
    <div id="captureContainer">
      {% csrf_token %}
      <video id="video" autoplay></video>
      <button id="captureButton" class="btn">Take Picture</button>
      <canvas id="capturedCanvas" style="display: none"></canvas>
      <div id="buttonContainer">
        <button id="freezeButton" class="btn" style="display: none">Analyze Picture</button>
        <button id="resetButton" class="btn" style="display: none">Reset Picture</button>
      </div>
      <div id="resultContainer" class="resultContainer"></div>
    </div>
    <script src="{% static 'pwa/js/scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>
